<header>
  <div class="container">
    <div class="row">
      <nav class="navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/registration" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/greeting" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Greeting</a>
                </li>
            </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
